.form-input {
  display: flex;
  flex-flow: column;
  width: 40%;
  align-items: flex-start;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  margin: 2rem 0;
  font-weight: bold;
}

.form-input__item {
  display: flex;
  flex-flow: column;
  margin-bottom: 8px;
  width: 100%;
}



